<div id="wrap">
  {{navigation/page-navigation}}
  <div id="main">
    <div class="container">
      {{restaurants/filters}}
      <div class="row">
        {{#each model as |restaurant|}}
          <div class="col-xs-12 col-sm-6 col-md-4">
            {{restaurants/restaurant-tile data=restaurant buttonStyle="white"}}
          </div>
        {{/each}}
      </div>
      {{navigation/pagination
        currentPage=model.response.pageNumber
        maxPages=model.response.numberOfPages
      }}
    </div>
    {{home-popular-locations}}
  </div>
</div>